img.blur {
    filter: url(../blur.svg#blur);
    -webkit-filter: blur(1px) grayscale(100%);
    filter: blur(1px) grayscale(100%);
    filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='2');
}